@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    background: #011936;
}

h1{
    font-family: poppins;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    font-size: 48px;
    word-wrap: break-word;
    justify-content: center;
}

.kotak{
    width: 680px;
    height: 530px;
    border-radius: 30px;
    background-color: #465362;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 27%;
}